<a href="https://colab.research.google.com/github/vivisuzuki/analise-de-dados-aula-01/blob/main/Aula01_Criptomoedas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import requests
import pandas as pd

In [21]:
response = requests.get('https://api.wazirx.com/sapi/v1/tickers/24hr')

df = pd.read_json(response.text)

# df.describe() #quantidade, média, descvio padrão, minimo, mediana, primeiro quartio...
# df.info() #atributos, tipos de dados, quantos não nulos...


df ['variacao'] = df['openPrice'] - df['lastPrice'] #criando uma coluina de variação com a diferença abertura-final
variacao = df[['baseAsset', 'variacao']] #cria uma tabela somente com os campo baseAsset e variacao
variacao = variacao.sort_values('variacao', ascending = False ) #ordena a nova tabela pela variacao de forma descendente
variacao

    baseAsset  variacao
257       yfi   1600.00
30       yfii    907.00
429       eth    400.00
432       bnb    329.25
18        bnb    102.32
..        ...       ...
119       qnt   -800.00
41       paxg  -1000.00
169       btc  -1041.00
2         eth  -2998.40
0         btc -50144.00

[448 rows x 2 columns]

**TOP 5 Altas**

In [19]:
variacao.head(5) #Exibe os top 5

    baseAsset  variacao
257       yfi   1600.00
30       yfii    907.00
429       eth    400.00
432       bnb    329.25
18        bnb    102.32

**TOP 5 Baixas**

In [20]:
variacao.tail(5) #Exibe os ultimos 5

    baseAsset  variacao
119       qnt    -800.0
41       paxg   -1000.0
169       btc   -1041.0
2         eth   -2998.4
0         btc  -75856.0